MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.xxxxx.mongodb.net/expertease?retryWrites=true&w=majority
JWT_SECRET=expertease_super_secret_key_change_in_production_2025
JWT_EXPIRES=7d
PORT=5000
CLIENT_URL=http://localhost:5173
